.answer {
    -fx-alignment: center;
    -fx-background-color: -c-grey-01;
    -fx-padding: 48;
}

.answer .category {
    -fx-padding: 0 0 0 16;
}

.answer .category-container, .answer .question-container {
    -fx-alignment: center-left;
    -fx-max-width: 480;
}

.answer .repeat-question {
    -fx-padding: 0 4 8 0;
}

.answer .category-icon {
    -fx-background-color: -c-grey-03;
    -fx-background-radius: 50%;
}

.answer .question {
    -fx-padding: 24 0 32 0;
    -fx-wrap-text: true;
}

.answer .hint-text {
    -fx-padding: 4 0 0 0;
}

.answer .progress-bar {
    -fx-padding: 12 0 0 0;
    -fx-pref-height: 24;
    -fx-max-width: 480;
}

.answer .animated-progress-bar > .track {
    -fx-background-color: linear-gradient(from 25% 50% to 90% 50%, -c-green, -c-red);
}

.answer .animated-progress-bar > .bar {
    -fx-background-color: -c-grey-01;
}
