.list-cell {
    -fx-control-inner-background: -c-grey-01;
}

.list-view, .split-pane {
    -fx-border-color: -c-grey-01;
}

/* this is for each cell when it's selected */
.list-cell:filled:selected {
    -fx-background-color: -c-grey-01;
    /* it was -c-gold */
    -fx-background-insets: 0;
}

.list-view:focused {
    /* -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;  */
    -fx-background-insets: 0, 1, 2;
}

.text-container {
    -fx-alignment: center;
    -fx-padding: 16 0 16 0;
    -fx-background-color: -c-grey-01;
}

.category {
    -fx-alignment: center;
    -fx-padding: 16 0 16 0;
    -fx-border-width: 2;
    -fx-border-color: transparent; /* invisible border */
}

.category.not-selected {
    -fx-background-color: -c-grey-03;
}

.category.not-selected:hover {
    -fx-background-color: -c-grey-08;
    -fx-border-color: -c-gold;
}

.category.selected {
    -fx-background-color: -c-gold;
}

.categories-list .scroll-bar {
    -fx-background-color: -c-grey-03;
}

.categories-list .scroll-bar > .thumb {
    -fx-background-color: -c-gold;
}

.categories-list .scroll-bar > .increment-button,
.categories-list .scroll-bar > .decrement-button {
    -fx-padding: 5 3 5 3;
}

.categories-list .scroll-bar > .increment-button:hover,
.categories-list .scroll-bar > .decrement-button:hover,
.categories-list .scroll-bar > .increment-button:pressed,
.categories-list .scroll-bar > .decrement-button:pressed {
    -fx-background-color: transparent;
}

.categories-list .scroll-bar > .increment-button:hover > .increment-arrow,
.categories-list .scroll-bar > .decrement-button:hover > .decrement-arrow,
.categories-list .scroll-bar > .increment-button:pressed > .increment-arrow,
.categories-list .scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -c-off-white;
}
