.list-cell {
    -fx-control-inner-background: -c-grey-01;
}

.list-view, .split-pane {
    -fx-border-color: -c-grey-01;
}

/* this is for each cell when it's selected */
.list-cell:filled:selected {
    -fx-background-color: -c-grey-01;
    /* it was -c-gold */
    -fx-background-insets: 0;
}

.list-view:focused {
    /* -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;  */
    -fx-background-insets: 0, 1, 2;
}

.text-container {
    -fx-alignment: center;
    -fx-padding: 16 0 16 0;
    -fx-background-color: -c-grey-01;
}

.category {
    -fx-alignment: center;
    -fx-padding: 16 0 16 0;
    -fx-border-width: 2;
    -fx-border-color: transparent; /* invisible border */
}

.category.not-selected {
    -fx-background-color: -c-grey-03;
}

.category.not-selected:hover {
    -fx-background-color: -c-grey-08;
    -fx-border-color: -c-gold;
}

.category.selected {
    -fx-background-color: -c-gold;
}
