.game-over {
    -fx-alignment: top-center;
    -fx-background-color: -c-grey-01;
    -fx-padding: 48;
}

.game-over .title {
    -fx-font-size: 48;
    -fx-padding: 24;
}

.game-over .subtitle {
    -fx-font-size: 24;
    -fx-padding: 0 12 56 12;
    -fx-text-alignment: center;
}

.game-over .submit-name {
    -fx-padding: 4 24 0 24;
}
