.header {
    -fx-alignment: center;
    -fx-background-color: -c-gold;
    -fx-text-fill: -c-grey-03;
}

.header .title {
    -fx-font-size: 72;
    -fx-font-weight: bold;
}

.header .subtitle {
    -fx-font-size: 36;
    -fx-padding: 0 0 36 0;
}
