.btn {
    -fx-cursor: hand;
}

.text-black {
    -fx-fill: -c-grey-03;
    -fx-text-fill: -c-grey-03;
}

.text-bold {
    -fx-font-weight: bold;
}

.text-gold {
    -fx-fill: -c-gold;
    -fx-text-fill: -c-gold;
}

.text-large {
    -fx-font-size: 32;
}

.text-medium-large {
    -fx-font-size: 28;
}

.text-medium {
    -fx-font-size: 24;
}

.text-small{
	-fx-font-size: 16;
}

.text-white {
    -fx-fill: -c-off-white;
    -fx-text-fill: -c-off-white;
}

.text-red {
    -fx-fill: -c-red;
    -fx-text-fill: -c-red;
}
